header {
  width: 100%;
  background-color: #0a0a0a;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  box-sizing: border-box;

  .home {
    background-color: #0a0a0a;
    color: #ffffff;
    padding: 8px;
    border: none;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    border: 1px solid #3d3d3d;
  }

  .favorites {
    background-color: #0a0a0a;
    color: #ffffff;
    padding: 8px;
    border: none;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    border: 1px solid #3d3d3d;
  }

  .counter {
    border-radius: 50%;
    background-color: #0a0a0a;
    color: #ffffff;
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }

  .active {
    background-color: #ffffff;
    color: #0a0a0a;
  }
}
