h1 {
  font-family: "Creepster", system-ui;
  color: #00b5cc;
  -webkit-text-stroke-width: 2px; /* Largura do contorno */
  -webkit-text-stroke-color: #b2df28; /* Cor do contorno */
  font-size: 48px;
}
